* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    display: block;
    font-weight: bold;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
}

form {
    max-width: 360px;
}

form button {
    width: 100%;
    padding: 8px 0;
    color: #fff;
    font-size: 16px;
    background-color: #119759;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

header {
    margin-bottom: 32px;
}